
$primary : #775ada;
$border-radius : 0rem;
$border-radius-lg: 0rem;
@import "../node_modules/bootstrap/scss/bootstrap";


@import "../node_modules/slick-carousel/slick/slick.scss";


@import "../node_modules/imagehover.css/scss/imagehover.scss";