.services-svg{
    width: 70px;
    height: 70px;
    fill : var(--bs-primary)
}

.scroll-to-top{
    bottom: 50px;
    right: 50px;
}

#nav{
    background-color: #ffffffcc !important;
    backdrop-filter: blur(5px);
    z-index: 1001;
}

.nav-link{
    font-weight: bold;
}